[package]
name = "smoo-host-core"
version = "0.1.0"
edition = "2024"
license = "GPL-3.0-only"

[features]
default = ["std"]
std = []

[dependencies]
async-trait = "0.1.89"
smoo-proto = { path = "../smoo-proto" }
