name: Alpine packages

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  alpine:
    runs-on: ubuntu-24.04${{ matrix.arch == 'aarch64' && '-arm' || '' }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64
          - armv7
    steps:
      - uses: actions/checkout@v4

      # Using fork (aarch64 branch from bgilbert/setup-alpine) until jirutka/setup-alpine#11 is resolved
      - uses: samcday/setup-alpine@main
        id: alpine
        with:
          arch: ${{ matrix.arch }}
          branch: edge
          packages: alpine-sdk

      - name: configure abuild key + deps
        run: |
          abuild-keygen -a -n
          cp ~/.abuild/*.pub /etc/apk/keys/
          abuild -F deps
        shell: alpine.sh --root {0}

      - name: set git revision for prerelease builds
        if: ${{ github.event_name != 'release' }}
        run: |
          sed -i -e "s/^_gitrev=main$/_gitrev=$GITHUB_SHA/" APKBUILD
        shell: alpine.sh --root {0}

      - name: build packages
        run: |
          export PACKAGER_PRIVKEY=$HOME/.abuild/key.rsa
          abuild -F checksum
          abuild -F -P /packages
          mv APKBUILD /packages
          chmod -R 777 /packages
          for f in /packages/smoo/${{ matrix.arch }}/*.apk; do
            mv "$f" "${f%.apk}-${{ matrix.arch }}.apk"
          done
        shell: alpine.sh --root {0}

      - uses: actions/upload-artifact@v4
        with:
          name: APKBUILD-${{ matrix.arch }}
          path: ${{ steps.alpine.outputs.root-path }}/packages/APKBUILD

      - uses: actions/upload-artifact@v4
        with:
          name: packages-${{ matrix.arch }}
          path: ${{ steps.alpine.outputs.root-path }}/packages/smoo/${{ matrix.arch }}/*.apk
