name: Alpine (arm64)

on:
  workflow_call:
  push:
    branches: [main]
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: alpine-arm64-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  alpine-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4

      # Using fork (aarch64 branch from bgilbert/setup-alpine) until jirutka/setup-alpine#11 is resolved
      - uses: samcday/setup-alpine@main
        id: alpine
        with:
          arch: aarch64
          branch: edge
          packages: alpine-sdk

      - name: configure abuild key + deps
        run: |
          abuild-keygen -a -n
          cp ~/.abuild/*.pub /etc/apk/keys/
          abuild -F deps
        shell: alpine.sh --root {0}

      - name: set git revision for prerelease builds
        if: github.event_name != 'release'
        run: |
          sed -i -e "s/^_gitrev=main$/_gitrev=$GITHUB_SHA/" APKBUILD
        shell: alpine.sh --root {0}

      - name: release prep
        if: github.event_name == 'release'
        run: |
          sed -i -e 's/^\(pkgver=.*\)_git$/\1/' APKBUILD
          sed -i -e '/^_gitrev=/d' -e 's/_gitrev/pkgver/g' APKBUILD
        shell: alpine.sh --root {0}

      - name: build packages
        run: |
          export PACKAGER_PRIVKEY=$HOME/.abuild/key.rsa
          abuild -F checksum
          abuild -F -P /packages
          mv APKBUILD /packages
          chmod -R 777 /packages
          for f in /packages/smoo/aarch64/*.apk; do
            mv "$f" "${f%.apk}-aarch64.apk"
          done
        shell: alpine.sh --root {0}

      - uses: actions/upload-artifact@v4
        with:
          name: APKBUILD
          path: ${{ steps.alpine.outputs.root-path }}/packages/APKBUILD

      - uses: actions/upload-artifact@v4
        with:
          name: packages-aarch64
          path: ${{ steps.alpine.outputs.root-path }}/packages/smoo/aarch64/*.apk

      - name: upload .apk artifacts to release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release'
        with:
          name: ${{ github.event.release.name }}
          files: |
            ${{ steps.alpine.outputs.root-path }}/packages/smoo/aarch64/*.apk

      - name: upload APKBUILD to release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release'
        with:
          name: ${{ github.event.release.name }}
          files: |
            ${{ steps.alpine.outputs.root-path }}/packages/APKBUILD
