name: Build smoo gadget binaries

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: x86_64
            runner: ubuntu-24.04
          - name: arm64
            runner: ubuntu-24.04-arm

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libssl-dev

      - name: Check
        run: cargo check --workspace --locked

      - name: Clippy
        run: cargo clippy --workspace --locked

      - name: Build
        run: |
          cargo build \
            --bins \
            --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: smoo-gadget-cli-${{ matrix.name }}
          path: target/release/smoo-gadget-cli

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: smoo-host-cli-${{ matrix.name }}
          path: target/release/smoo-host-cli
